<html ng-app="mysite">
<head>
  <link href="/stylesheets/style.css" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Rubik:400,900italic,900" rel="stylesheet" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.js"></script>
  <script src="/javascripts/index.js"></script>
</head>
<body>
  <h1>index.html</h1>
    <div ng-view></div>
</body>
</html>
